@{
    ViewData["Title"] = "Gummi Bear Kindom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<GummiBearKingdom.Models.Product>

<html>
<head>
    <title>GummiBearKingdom</title>
</head>
<body>
   
    <ul>
        @foreach (var listProduct in Model)
        {
            <li><h2>@Html.DisplayFor(modelItem => listProduct.Name)</h2> @Html.ActionLink("Details", "Details", new { id = listProduct.ProductId })|@Html.ActionLink("Edit", "Edit", new { id = listProduct.ProductId }) |@Html.ActionLink("Delete", "Delete", new { id = listProduct.ProductId })</li>
        }
    </ul>

    <p>@Html.ActionLink("AddProduct", "Create")</p>

    
         
 </body>  
            

</html>