@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    





<div id="carousel">
    <figure id="spinner">
        <img src="http://vignette3.wikia.nocookie.net/candyeat/images/5/57/Flickr-3623046664-original.jpg/revision/latest?cb=20130807233211">
        <img src="http://occ144datkn3vrjlq7r63p19.wpengine.netdna-cdn.com/wp-content/uploads/2015/07/gummy-bear-cake.jpg">
        <img src="http://thumbs3.ebaystatic.com/d/l225/m/mFhNa-ffN-pxTrFZLVquC_Q.jpg">
        <img src="https://i.ytimg.com/vi/1tWIrhG9YGM/maxresdefault.jpg">
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTtpWNBJrRRmCvfJ_Cb31nTl9jRt8iXlhjkRxWvUgYzvzWFkQ_ztQ" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLjDsaW65XNr2lLZlDtrMCXaBPPy5cg49L9m4rmCvbQQQhQA1r">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ_RWF55wgZ_XwwK1OJrRjGW-FS1yZPLN9k1JoUA1dw1q8A6Ghi">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRI5q0VAS0re83rSqh4iSMK4hjOadDShwZ-M1AIijo_SDrPsoOT">
    </figure>
</div>
<span style="float:left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
<span style="float:right" class="ss-icon" onclick="galleryspin('')">&gt;</span>
</body>