@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<GummiBearKingdom.Models.Blog>

<html>
<head>
    <title>GummiBearKingdom</title>
</head>
<body>

    <ul>
        @foreach (var listBlog in Model)
        {
            <li><h2>TITLE:
                    <br />
                @Html.DisplayFor(modelBlog => listBlog.Title)
                    <br />
                    <br />
                  AUTHOR:
                    
                    <br />
                  @Html.DisplayFor(modelBlog => listBlog.Author)
                <br />
                    <br />
                COMMENT: 
                    <br />
                    @Html.DisplayFor(modelBlog => listBlog.Text)
                <hr />
            </h2></li>
        }

        <p>@Html.ActionLink("Add Comment", "Create")</p>
    </ul>
</body>
</html>